* {
  margin: 0;
  font-family: Geometria,serif;
}

.navbar {
  padding: 20px 20px 20px 130px;
  display: flex;
  margin: 0 auto;

  /* White */
  background: #FFFFFF;

  /* 1 */
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
}
.navbar h1 {
  /* 20 / M */
  padding-left: 45px;
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;

  /* or 220% */

  /* Black */
  color: #000000;
  
}

.content {
  height: 100%;
  margin: 40px auto;
  padding: 20px 130px;

}

.students h2{
  /* 40 / B */
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;

  /* Black */
  color: #000000;
}

.searchBar {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 48px;

  background: #FFFFFF;

  /* 1 */
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.searchBar img {
  height: 17px;
  width: 17px;
  padding-right: 15px;
  padding-left: 20px;
}

.searchBar input{
  width: 100%;
  outline: none;
  border: none;

  padding-right: 15px;

  /* 16 / R */
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.sortType {
  outline: none;
  border: none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  padding: 15px;
  display: flex;

  /* White */
  background: #FFFFFF url("./drop-downList.png") no-repeat right;
  background-position-x: calc( 100% - 15px );

  font-family: Geometria, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  /* 1 */
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
}
