* {
  margin: 0;
  font-family: Geometria,serif;
}

.navbar {
  padding: 20px 20px 20px 130px;
  display: flex;
  margin: 0 auto;

  background: #FFFFFF;

  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
}

.navbar h1 {
  /* 20 / M */
  padding-left: 45px;
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  /* Black */
  color: #000000;
  
}

code {
  color: #49C2E8;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  height: 100%;
  margin: 40px auto;
  padding: 20px 130px;

}

.students h2{
  /* 40 / B */
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;

  /* Black */
  color: #000000;
}

.searchBar {
  width: 100%;
  padding: 12px 15px 11px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #FFFFFF;

  /* 1 */
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.searchBar img {
  height: 17px;
  width: 17px;
  padding-right: 15px;
  padding-left: 20px;
}

.searchBar input{
  width: 100%;
  outline: none;
  border: none;

  padding-right: 15px;

  /* 16 / R */
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 32px;
  text-align: left;
}

th, td {
  padding: 20px;
}

th {
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

tbody {
  /* White */
  background: #FFFFFF;

  /* 1 */
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.delete {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.loading {
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  /* Black */
  color: #000000;

}
